div(style="height:50px")
.row.text-center
	.col-sm-4
		a(href="#") <span class="oi oi-arrow-thick-bottom"></span>
div(style="height:350px")
.row
	.col-sm-4
		a.btn.btn-danger.btn-block(href=thisAct+"Del/"+object._id) <span class="oi oi-trash"></span>