extends ../../aalayout/layout

block content
	div(style="height:50px")

	.container.mt-3
		.row
			each fder in fders
				-a;
				.col-sm-6.col-md-4.col-lg-3.mt-3
					a(href='/bsFder/'+fder._id)
						.card.bg-light.text-center.py-2
							h5 #{fder.code}
							h5 #{fder.nome}
	.topNav-second.p-1
		.row.text-center
			.col-1
				button.btn.btn-info.shield(type="button") <span class="oi oi-shield"></span>
			.col-2
				a.btn.btn-block.btn-warning(href="/bsFderAdd") <span class="oi oi-plus"></span> <span class="oi oi-person"></span>
			.col-5
			.col-4
				form.ajaxForm
					input.ajaxKey.form-control(type="text", autocomplete="off")

	script(src="/js/bser/fder/list.js")