extends ../../aalayout/layout

block content
	.container.mt-5
		include ./printHead
		.row.border-top.mb-4.py-3#optBtn.noprint
			.col-6
				.row
					.col-2: button.tinNav#quot.btn.btn-secondary(type="button") 订单量
					.col-2: button.tinNav#ship.btn.btn-info(type="button") 发货量
					.col-2: button.tinNav#less.btn.btn-secondary(type="button") 差额
					.col-6
			.col-6.text-right
				.row
					if tint.status == 5
						-a;
						.col-8
							span [状态：正在处理 (#{tint.status})]
							a.btn.btn-warning(href="/bsTintUp/"+tint._id) <span class="oi oi-pencil"></span>
					else
						.col-8.pt-2 [状态：历史记录 (#{tint.status})]
					.col-4
						a.btn.btn-primary(href="javascript:window.print()" target="_self") <span class="oi oi-print"></span>
		.infoPrice
			include ./infoPrice
		div.noprint(style="height:100px")
		a.noprint.btn.btn-danger(href="/bsTintDel/"+tint._id) 删除
	script(src="/js/bser/tint/detail/detail.js")